/* Primärt Alegreya på headers och Montserrat på brödtext. */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::selection{
  color: #fcf7ff;
  background: #52b851;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:"Alegreya", "Franklin Gothic Medium", serif;
}

body, html {
  font-size: 14px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #5B8C5A;
}

/* Header, nav */
header{
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}
nav{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 90px;
  font-size: 16px;
  font-weight: 600;

  width: 80%;
  max-width: 1020px;
  background: #F3F7F3;

  margin-top: 2%;
  box-shadow: 0px 3px 5px rgba(107, 107, 107, 0.1);
  border-radius: 15px;
  z-index: 1;
}
nav img{
  height: 75px;
}
nav ul{
  display: flex;
  list-style: none;
}

nav ul a{
  display: inline-block;
  color:#322D39;
  text-decoration: none;
  transition: transform 0.1s, background-color 0.2s ease;
  border-radius: 8px;
  padding: 8px 16px;
}

nav a:hover{
  background-color: rgba(190, 193, 92, 0.4)
}
nav a:active{
  transform:scale(0.95);
  opacity: 0.7;
}

main{
  width: 80%;
  margin: auto;
  max-width: 1020px;
  margin-bottom: 200px;
}

section{
  scroll-margin-top: 160px;
  background-color: #F3F7F3;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px 30px;
  border-radius: 15px;
}
article{
  margin-top: 10px;
  margin-bottom: 20px;
}

footer{
  background: rgb(190, 193, 92);
  text-align: center;
  padding: 5px;
  /* position: fixed; */
  color: #242124;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

/* START OF VIDEO STUFF */
.video-background{
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  min-width: 100%; 
  min-height: 100%; 
  object-fit: cover;
  z-index: 1;
}

.video-background .content {
  position: relative;
  z-index: 2; /* Placera innehåll ovanpå videon */
  color: white; /* Gör texten vit så den syns */
  text-align: center;
  padding: 1em;
}

/* END OF VIDEO STUFF */

.logo{
  justify-self: left;
  display: block;
}

/* Utility */
.wrapper-center{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* Thumbnails small card */
.small-card{
  margin: 4px;
  width: 180px;
  height: 223px;
  border: 1px solid #242124;
  border-radius: 16px;
}
.small-card-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

/* Thumbnails animal card */

.animal-card-texted,
.animal-card{
  margin: 4px;
  width: 290px;
  height: 360px;
  background-color: #F3F7F3;
  border: 1px solid #242124;
  border-radius: 16px;
  position: relative;
  display: inline-block;
}

.animal-thumbnail{
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.animal-thumbnail-header{
  padding: 5px;
  font-family:"Alegreya", "Franklin Gothic Medium", serif;
  font-size: 20px;
}
.animal-thumbnail-text{
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.animal-card-texted:after{
  content:"Läs mer..";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 270px;
  background: rgba(36, 33, 36, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  font-family:"Alegreya", "Franklin Gothic Medium", serif;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcf7ff;
  font-size: 2em;
  font-weight: bold;
  text-align: center; 
  pointer-events: none;
}

.animal-card:after{
  content:"";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 270px;
  background: rgba(36, 33, 36, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.animal-card-texted:hover:after,
.animal-card:hover:after{
  opacity: 1;
}

/* Floater */

.mainwrapper{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px;
}

.floater{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  background: #fcf7ff;
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 3;
  width: 45px;
  height: 45px;
}
.floater-image{
  font-size: 36px;
  color: rgba(36, 33, 36, 0.8);
  z-index: 3;
}

/* Formular */

input,
textarea{
  border: 1px #242124 solid;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.subheader-text{
  margin-bottom: 2em;
}

.subscribe-button{
border: 1px #242124 solid;
background-color: #F3F7F3;
padding: 5px;
}
.formular-label-margin{
  display: inline-block;
  width: 5em;
  margin-right: 1em;
}


.formular-and-maps{
  display: flex;
  flex-flow: row wrap;
}
.formular-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 45%;
  margin-right: 5%;
}
.maps-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 45%;

}


.googl-ehtml{
  #embed-map-display img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}
}

/* Footer */
.socials-box{
  text-align: center;
  vertical-align: bottom;
}

.socials-text{
  font-family:"Alegreya", "Franklin Gothic Medium", serif;
  font-weight: bold;
  color: #322D39;
  font-size: 18px;
  padding-right: 10px;
}
.socials-button,
  .socials-button:visited{
    width: 30px;
    height: 30px;
    color: #322D39;
    font-size: 28px;
    cursor: pointer;
    padding-right: 10px;
  }
  .socials-button:hover{
    opacity: 0.7;
  }
  .socials-button:active{
      opacity: 0.4;
  }