Primärt Alegreya på headers och Montserrat på brödtext. Några undantag.
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:"Alegreya", "Franklin Gothic Medium", serif;
}

body, html {
  font-size: 14px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #5B8C5A;
}
footer{
  border-color: #242124;
  background: #BEC15C;
  text-align: center;
  padding: 5px;
  position: fixed;
  color: #242124;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}





/* Footer */
.socials-box{
  text-align: center;
  vertical-align: bottom;
}

.socials-text{
  font-family:"Alegreya", "Franklin Gothic Medium", serif;
  font-weight: bold;
  color: #322D39;
  font-size: 18px;
  padding-right: 10px;
}
.socials-button,
  .socials-button:visited{
    width: 30px;
    height: 30px;
    color: #322D39;
    font-size: 28px;
    cursor: pointer;
    padding-right: 10px;
  }
  .socials-button:hover{
    opacity: 0.7;
  }
  .socials-button:active{
      opacity: 0.4;
  }